# ===== BACKEND (FastAPI / Python) =====
Backend/__pycache__/
Backend/.venv/
Backend/venv/
Backend/*.pyc
Backend/.env

# Python general
__pycache__/
*.pyc

# ===== FRONTEND (React) =====
Frontend/node_modules/
Frontend/build/
Frontend/dist/
Frontend/.env

# ===== OS / IDE =====
.DS_Store
.vscode/